<h1>Erhebungsbogen</h1>
<p>Es wurden folgende Fragen beantwortet!</p>
<%#= 'string' Kommentar !!!! %> 
<ul>
<% @surveys.each do |item| %>
<li>
<%= link_to item.name , survey_path(item.id) %> <%= link_to 'edit', edit_survey_path(item.id) %> <%= link_to 'delete', nil %>
</li>
<% end %>
</ul>
